<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<form method="post">

    <input type="email" name="usuario" placeholder="email"><br>
    <input type="text" name="nombre" placeholder="first name"><br>
    <input type="text" name="apellido" placeholder="last name"><br>
    <input type="submit">

</form>


{{if .Usuario}}
USER NAME {{.Usuario}}<br>
Nombre {{.Nombre}}<br>
Apellido {{.Apellido}}<br>
{{end}}

<br>
<h2> <a href="/seccion">Ir a otra sección</a></h2>
</body>
</html>