<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bienvenida</title>
</head>
<body>


{{if .Usuario}}
USER NAME {{.Usuario}}<br>
Nombre {{.Nombre}}<br>
Apellido {{.Apellido}}<br>
<br>
<h2> <a href="/seccion">Ir a otra sección</a></h2>
<h2> <a href="/logout">Logout</a></h2>
{{else}}
<h2>Ud no ha ingresado</h2>
<h2> <a href="/altausuario">Crear Usuario</a></h2>
<h2><a href="/login">log in</a></h2>
{{end}}

</body>
</html>