<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Otra Sección</title>
</head>
<body>

<h1>Esta sección es sólo para usuarios amigos</h1>

{{if .Usuario}}
    Usuario {{.Usuario}}<br>
    Nombre {{.Nombre}}<br>
    Apellido {{.Apellido}}<br>
{{end}}


<h2> <a href="/">Home</a></h2>
<h2> <a href="/logout">Logout</a></h2>


</body>
</html>