{{ define "Menu" }}
<a href="/">Home</a>
<a href="/seccion">Una Sección</a>
<a href="/persona">Mantenimiento de Personas</a>
<a href="/usuario">Crear Usuario</a>
<a href="/logout">Logout</a>
<br>
{{end}}
