<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Otra Sección</title>
</head>
<body>

{{ template "Menu" }}

<h1>Esta sección es sólo para usuarios amigos</h1>

{{template "User" .}}
</body>
</html>
