<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bienvenida</title>
</head>
<body>

    {{ template "Menu" }}
	
    <h2> Personas </h2>
	
	{{if .Error}}
		{{.Error}}<br>
	{{end}}

	{{if .Mensaje}}
		{{.Mensaje}}<br>
	{{end}}
    <table border="1">
      <thead>
      <tr>
        <td>ID</td>
        <td>Nombre</td>
        <td>Apellido</td>
        <td>Fecha Nacimiento</td>
        <td>Ver</td>
        <td>Editar</td>
        <td>Borrar</td>
      </tr>
       </thead>
       <tbody>
    {{ range .PersonasM }}
      <tr>
        <td>{{ .ID }}</td>
        <td>{{ .Nombre }}</td>
        <td>{{ .Apellido }}</td> 
        <td>{{ if .FechaNacimiento.Valid}}{{ formateaFecha .FechaNacimiento.Time  }}{{end}} </td>
        <td><a href="/persona/ver?id={{ .ID }}">ver</a></td>
        <td><a href="/persona/editar?id={{ .ID }}">editar</a></td>
        <td><a href="/persona/borrar?id={{ .ID }}">borrar</a><td>
      </tr>
    {{ end }}
      </tbody>
    </table>
	</b>
	<a href="/persona/crear">crear persona</a>

  {{ template "Footer" }}

</body>
</html>
