<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bienvenida</title>
</head>
<body>
{{ template "Menu" }}
{{if .Usuario}}

<br>
USER NAME {{.Usuario}}<br>
Nombre {{.Nombre}}<br>
Apellido {{.Apellido}}<br>
<br>
{{else}}
<h2>Ud no ha ingresado aún</h2>
<a href="/login">Login</a>
{{end}}

</body>
</html>

