<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear Persona</title>
</head>
<body>

{{ template "Menu" }}

<h2> Puede crear una Persona </h2>


<form method="post">

    <input type="text" name="nombre" placeholder="Nombre"><br>
    <input type="text" name="apellido" placeholder="Apellido"><br>
    <input type="text" name="fechaNacimiento" placeholder="Fecha Nac. dd-mm-yyyy"><br>
    <input type="submit" value="Crear">

</form>

</body>
</html>
