<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar Persona</title>
</head>
<body>

{{ template "Menu" }}

<h2> Puede editar una Persona </h2>

{{if .Error}}
	{{.Error}}<br>
{{end}}

{{if .Mensaje}}
	{{.Mensaje}}<br>
{{end}}

{{range .PersonasM}}
<form method="post">

    <input type="hidden" name="id" value={{.ID}}><br>
    <input type="text" name="nombre" placeholder="Nombre" value={{.Nombre}}><br>
    <input type="text" name="apellido" placeholder="Apellido" value={{.Apellido}}><br>
    <input type="text" name="fechaNacimiento" placeholder="Fecha Nac. dd-mm-yyyy" value={{ .FechaNacimiento }}><br>
    <input type="submit" value="Actualizar">

</form>
{{end}}

</body>
</html>

