<h1>Hello, {{.}}</h1>

<form  method="POST">
        <input type="text" name="nombre" placeholder="su nombre aquí" autofocus autocomplete="off">
        <input type="submit" name="submit-btn" value="Botonazo">
</form>
